	<h2>Nowe zadanie</h2>
			<form action="/add_project" method="post">
				<div class="opis">
					<label>Opis:</label>
					<textarea class='description' rows="6" cols="60"/>
				</div>
				<div class="team">
					<label>Pracownik:</label>
					<select class='task_reciever'>
  						<option value="volvo">Władek Radgowski</option>
 						<option value="volvo">Władek Radgowski</option>
  						<option value="volvo">Władek Radgowski</option>
  						<option value="volvo">Władek Radgowski</option>
					</select>
				</div>
    			<div class="submit">
    				<input id="send_login" type="submit" value="Zatwierdź!"/>
    			</div>	
			</form>
