<script type="text/javascript" src='js/task_validation.js'></script>
<p class='table_title'>Nowe zadanie</p>
		<div class="new_task">
			<form action="/add_task" method="post">
				<p class='error'></p>
			<form action="/add_project" method="post">
				<table class="task_form">
					<tr>
						<td>Projekt:</td>
						<td>
							<select class='project_select'>
							</select>
						</td>
					</tr>
					<tr>
						<td>Pracownik:</td>
						<td>
							<select class='reciever_select'>
							</select>
						</td>
					</tr>
					<tr>
						<td>Opis:</td>
						<td><textarea id="description" class='description' rows="6" cols="60"/></td>
					</tr>
					<tr>
						<td><input id="submit_task" type="submit" value="Zatwierdź!"/></td>
					</tr>
				</table>
			</form>
			</div>
