body{
	font-family: arial;
	width:100%;
	background: #C8DCF0;
	padding-bottom:20px;
}
.body{
	max-width:1100px;
	margin:0 auto;
}

.error{
	min-height: 20px;
	color: #D8000C;
	padding-top: 10px;
	 text-align:center;
	 font-size:14px;
}


.login_form{
	 display: table;
	 text-align:center; 
	 margin-left: auto ;
  	 margin-right: auto ;
  	 background: orange;
  	 padding: 10px 20px 10px 20px; 
}

.new_employee{
	margin:auto;
}
label,input{
	font-size: 20px;
	
}

.submit{
	padding-top: 5px;
}

.header{
	 text-align: center;
	 margin-left: auto;
  	 margin-right: auto;
	 padding:20px 0px 20px 20px;
	 background:#FFBC73;
	 max-width:1100px;
}
.logged_info{
	 width:100%;
	 text-align: center;
	 background:#FFA340;
	 padding-top:5px;
	 padding-bottom:5px;
}

.project_details{
	margin: 0 auto;
}


ul li {
	   list-style-type : none;
}
.menu_left{
	float: left;
	width: 20%;
	padding-top:15px;
}
.content{
	float: left;
	width:80%;	
	min-height:400px;
	background:#04859D;
	padding-bottom:20px;
}
.title{
	width: 92%;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #FFA340;
	text-align: center;
	font-size: 18px;
}
li{
	width: 90%;
	height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #62B1D0;
	text-align: center;
	font-size: 16px;
	margin-left:-22px;
	border: 2px solid #C8DCF0
}
li:hover
{ 
	background-color:lightskyblue;
	margin-left:-20px;
}

ul{
	margin-top:-15px;
}
.menu{
	padding-bottom:2px;
}
p{
	margin-top:-10px;
}

.table_title{
	padding-top:20px;
	text-align:center;
	color:white;
	font-size:30px;
}

.tasks{
	border-collapse:collapse;
	text-align:center;
	width:100%;
}

.tasks button{
		width:100%;
	}
.tasks .id_task{
		height:50px;
		width:80px;
	}

.tasks tr td{
		border:3px solid #04859D;
		background:#62B1D0;
		min-height:50px;
	}
.tasks .opis{
		width:400px;
		
		text-align:left;
	}

th{
	border:3px solid #04859D;
	background:#3AA6D0;
	height:40px;
}

.projects{
	border-collapse:collapse;
	text-align:center;
	width:100%;
}

.projects tr td{
		border:3px solid #04859D;
		background:#62B1D0;
		height:30px;
	}
.projects .nazwa{
		width:70%;
	}
.projects .opcje{
		width:30%;
	}
.projects button{
		width:50%;
		display:inline;
	}	

.employees{
	border-collapse:collapse;
	text-align:center;
	width:100%;	
}
.employees tr td{
		border:3px solid #04859D;
		background:#62B1D0;
		height:30px;
	}
.employees .name_surname{
		width:70%;
	}
.employees .options{
		width:30%;
	}

.employees button{
		width:50%;
	}

.new_employee .name_surname{
	width:30%;
	}

.new_employee .task_reciever{
		padding-left:10px;
		font-size:18px;
	}

.new_project{
	margin: 0 auto;
}

.new_project label{
		float:left;
		text-align:right;
	}

.button_edit{
	font-family: "Myriad Pro";
    font-size: 13px;
    color: white;
    background: #8fd163;
    border: 1px solid #8fd163;
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
    -khtml-border-radius:6px; 
    border-radius:6px;   
    padding: 5px 5px 5px 5px; 
    margin: 0 auto;
    width:100%;
}

.button_accept{
	font-family: "Myriad Pro";
    font-size: 13px;
    color: white;
    background: #8fd163;
    border: 1px solid #6ab83d;
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
    -khtml-border-radius:6px; 
    border-radius:6px;   
    padding: 5px 5px 5px 5px; 
    margin: 0 auto;
    width:100%;
}
.button_warning{
	font-family: "Myriad Pro";
    font-size: 13px;
    color: white;
    background: orange;
    border: 1px solid orange;
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
    -khtml-border-radius:6px; 
    border-radius:6px; 
    padding: 5px 5px 5px 5px; 
    margin: 0 auto;
}

.button_delete{
	font-family: "Myriad Pro";
    font-size: 13px;
    color: white;
    background: red;
    border: 1px solid red;
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
    -khtml-border-radius:6px; 
    border-radius:6px; 
    padding: 5px 5px 5px 5px; 
    margin: 0 auto;
}
.button_details{
	font-family: "Myriad Pro";
    font-size: 13px;
    color: white;
    background: #013D78;
    border: 1px solid #013D78;
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
    -khtml-border-radius:6px; 
    border-radius:6px; 
    padding: 5px 5px 5px 5px; 
    margin: 0 auto;
}

.button_add{
	font-family: "Myriad Pro";
    font-size: 13px;
    color: white;
    background: #008000;
    border: 1px solid #008000;
    -moz-border-radius:6px; 
    -webkit-border-radius:6px; 
    -khtml-border-radius:6px; 
    border-radius:6px; 
    padding: 5px 5px 5px 5px; 
    margin: 0 auto;
}
#add_to_project{
	display:none;
}

a{
	text-decoration:none;	
}