body{
	font-family: arial;
	width:100%;
	background: lightskyblue;
	padding-bottom:20px;
}
.body{
	width:1200px;
	margin:0 auto;

}

.error{
	min-height: 20px;
	color: #D8000C;
	padding-top: 10px;
	 text-align:center;
	 font-size:14px;
}


.login_form{
	 display: table;
	 text-align:center; 
	 margin-left: auto ;
  	 margin-right: auto ;
  	 background: orange;
  	 padding: 10px 20px 10px 20px; 
  	 border:1px solid white;
}

.new_employee{
	display:table-row;
}
label,input{
	font-size: 20px;
	display:table-cell;
}


.submit{
	padding-top: 5px;
}

.header{
	 padding-top: 30px;
	 text-align: center;
	 margin-left: auto;
  	 margin-right: auto;
	 padding:20px 0px 0px 20px;	
	 border:1px solid white;
	 background:yellow;
	 border:1px solid white;
}
.logged_info{
	 width:100%;
	 text-align: center;
	 font-size: 20px;
	 background:orange;
	 padding-top:5px;
	 padding-bottom:5px;
}

ul li {
	   list-style-type : none;
}
.menu_left{
	float: left;
	width: 240px;
	padding-top:15px;
}
.content{
	float: left;
	padding:5px 0px 0px 20px;
	border: 1px solid white;	
	width:900px;	
	min-height:400px;
	background:yellow;
	padding-bottom:20px;
}
.title{
	width: 220px;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid white;
	background: orange;
	text-align: center;
	font-size: 18px;
}
li{
	width: 200px;
	height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid white;
	background: yellow;
	text-align: center;
	font-size: 16px;
	margin-left:-30px;
}
li:hover
{ 
	background-color:lightskyblue;
	margin-left:-25px;
}

ul{
	margin-top:-15px;
}


.menu{
	padding-bottom:2px;
}
p{
	margin-top:-10px;
}

.tasks{
	border-collapse:collapse;
	text-align:center;

	tr, td{
		border:3px solid yellow;
		background:orange;
		height:50px;
	}
	.id_task{
		height:50px;
	}
	.nazwa{
		with:300px;
	}
	.opis{
		width:300px;
		overflow: break-word;
		text-align:left;
	}
	.opcje{
		width:200px;
	}
}

h3{
	float:center;
}
th{
	border:3px solid yellow;
	background:#C08000;
	height:40px;
}
.projects{
	border-collapse:collapse;
	text-align:center;
	tr, td{
		border:3px solid yellow;
		background:orange;
		height:50px;
	}
	.team{
		width:200px;
	}
	.projekt{
		width:250px;
	}
	.czlonkowie{
		width:300px;
		font-size:15px;
	}
}

.new_employee{
	


}

.name_surname{
	width:300px;
}

.task_reciever{
	width:300px;
	font-size:18px;
}
