<script type="text/javascript" src='js/employee_validation.js'></script>
		<h2>Nowy pracownik</h2>
		<div class="new_employee">
			<form action="/add_employee" method="post">
				<p class='error'></p>
		<table class="employee_form">
			<tr>
				<td><label for="name">Imię:</label></td>
				<td><input type="text" id="name" name="name"/></td>
				<td><label class="error" id="name_error"/></td>
			</tr>
			<tr>
				<td><label for="surname">Nazwisko:</label></td>
				<td><input type="text" id="surname" name="surname"/></td>
				<td><label class="error" id="surname_error"/></td>
			</tr>
			<tr>
				<td><label>Nazwa użytkownika:</label></td>
				<td><input type="text" id="username" name="username"/></td>
				<td><label class="error" id="username_error"/></td>
			</tr>
			<tr>
				<td><label>Hasło:</label></td>
				<td><input type="password" id="password" name="password"/></td>
				<td><label class="error" id="password_error"></label></td>
			</tr>
			<tr>
				<td><label>Potwierdź:</label></td>
				<td><input type="password" id="confirm_password"  name="confirm_password"/></td>
				<td><label class="error" id="confirm_password_error"></label></td>
			</tr>
			<tr>
				<td><input id="register_employee" type="submit" value="Zatwierdź!"/></td>
			</tr>
		</table>
			</form>
		</div>
