<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<script type="text/javascript" src="lib/js/jquery/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
    	<script type="text/javascript" src='js/script.js'></script>
		<title>Manager zadań pracowników 1.0</title>
	</head>
	<body>
		<div class="body">
		<div class="header">
			<h1>Manager zadań pracowników 1.0</h1>
		</div>
		<div class="logged_info">
			Zalogowany użytkownik: <strong><%= username %></strong>
			<a href="/logout">Wyloguj z systemu</a>
		</div>
		<div class="menu_left">
			
				<div id="0" class="menu">
					<p class="title">Projekty</p>		
					<ul>
						<li>Dodaj</li><li>Usuń</li><li>Pokaż wszystkie</li><li>Edytuj dane</li>
					</ul>
				</div>
				<div id="1" class="menu">
					<p class="title">Pracownicy</p>	
					<ul>
						<li>Dodaj</li><li>Usuń</li><li>Pokaż wszystkie</li><li>Edytuj dane</li>
					</ul>
				</div>
				<div id="2" class="menu">
					<p class="title">Zadania</p>	
						<ul>
							<li>Dodaj</li><li>Usuń</li><li>Pokaż wszystkie</li><li>Edytuj dane</li>
						</ul>	
				</div>
		</div>
		<div class="content">

		</div>
		</div>
	</body>
</html>