
		<h2>Nowy pracownik</h2>
		<div class="new_employee">
			<form action="/add_employee" method="post">
				<div class="name">
					<label>Imię:</label>
					<input type="text" id="name" name="name"/><br/>
				</div>
				<div class="surname">
					<label>Nazwisko:</label>
					<input type="text" id="surname" name="surname"/><br/>
				</div>
				<div class="username">
					<label>Nazwa użytkownika:</label>
					<input type="text" id="surname" name="surname"/><br/>
				</div>
    			<div class="password">
    				<label>Hasło:</label>
    				<input type="password" id="password" name="password"/>
    			</div>
    			<div class="confirm_password">
    				<label>Potwierdź:</label>
    				<input type="confirm_password" id="confirm_password" name="confirm_password"/>
    			</div>
    `			<div class="submit">
    				<input id="send_login" type="submit" value="Zatwierdź!"/>
    			</div>	
			</form>
		</div>
