<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src='js/user_tasks.js'></script>
			<p class='table_title'>Twoje zadania</p>
			<table class="tasks">
				<th>Numer</th>
				<th>Opis</th>
				<th>Projekt</th>
				<th>Opcje</th>
				<th>Status</th>				
			</table>
			</div>