<script type="text/javascript" src='js/projects.js'></script>
	<p class='table_title'>Szczegóły projektu</p>
			<table class="project_details">
				<tr>
					<td>Nazwa</td>
					<td id='name'></td>
				</tr>
				<tr>
					<td>Opis</td>
					<td id="desc"></td>
				</tr>
				<tr>
					<td>Członkowie</td>
					<td id="team"></td>
					<td id="options"></td>
				</tr>
			</table>
