<script type="text/javascript" src='js/project_validation.js'></script>
		<p class='table_title'>Nowy projekt</p>
		<div class="new_project">
			<p class="error"></p>
			<form action="/add_project" method="post">	
				<table>
					<tr>
						<td><label>Nazwa projektu:</label></td>
						<td><input type="text" id="project_name" name="name"/></td>
						<td><label class="error" id="project_name_error"></label></td>
					</tr>
					<tr>
						<td><label>Opis:</label></td>
						<td><textarea class='description' name="description" rows="6" cols="60"/></td>
						<td><label class="error" id="desc_error"></label></td>
					</tr>
					<tr>
						<td><label>Członkowie:</label></td>
						<td>
							<select  multiple class='team' name="team">
							</select>
						</td>
						<td><label class="error" id="team_error"></label></td>
					</tr>
					<tr>
						<td><input id="add_project" type="submit" value="Zatwierdź!"/></td>
					</tr>
				</table>
			</form>
		</div>
